* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    width: 100%;
    justify-content: center;
    background-color: #043873;
    display: flex;

}

.nav-content {
    width: 100%;
    max-width: 1420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
}

.nav-link {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid;
}

.logo {
    display: flex;
    gap: 7px;
    width: 100%;
    max-width: 191px;
    height: 34px;
    justify-content: space-between;
    align-items: center;

}

h1 {
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    font-family: inter;
    width: 100%;
    max-width: 144px;
    height: 34px;
}

.logo img {
    height: 29px;
    width: 37px;
    border: none;
}

.nav-content li {
    display: flex;
    width: 117px;
    height: 24px;
    gap: 10px;
    justify-content: center;
}

.nav-link a {
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.login {
    max-width: 126px;
    height: 60px;
    border-radius: 8px;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    gap: 10px;
    background-color: #FFE492;
    cursor: pointer;
}

.trial-btn {
    width: 227px;
    height: 60px;
    border-radius: 8px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 10px;
    background-color: #4f9cf9;
    color: white;
    cursor: pointer;
}
